# Android/Gradle
android/.gradle/
android/app/build/
android/build/
**/.cxx/

# Web assets copiados pelo "cap sync"
android/app/src/main/assets/public/
android/app/src/main/assets/public/**

ios/App/App/public/
ios/App/App/public/**

# Saída do Vite
dist/

# Outros
google-services.json.bak
node_modules
